<div class="book-card">
    <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title>{{title}}</mat-card-title>
            <mat-card-subtitle>{{author}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src={{coverImage}}
            alt="Photo of book 'ADMIRAVEL MUNDO NOVO'">
        <mat-card-content>
            <p>{{description}}</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
    </mat-card>
</div>