<h1>Quem é Maria Brasilina?</h1>
<div class="container-flex">
    <div>
        <mat-card class="example-card">
            <mat-card-title-group>
              <img  mat-card-xl-image class="about-img" src="/assets/img/mariabrasilina-00.jpeg" alt="Foto da Tata">
            </mat-card-title-group>
            <mat-card-content>
              {{longText}}
            </mat-card-content>
          </mat-card>
    </div>
    <div>
        <p>Nascida em 00/00/0000, em Monte Santo/BA, Maria Brasilina cresceu num...</p>
        <p>

            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur et tellus nisl. Ut quis luctus lorem,
            quis aliquam eros. In mollis dictum rhoncus. Fusce vel leo urna. Pellentesque rhoncus pulvinar felis id
            maximus. Curabitur molestie convallis elit sed sollicitudin. Suspendisse potenti. Ut vitae erat euismod,
            eleifend eros sed, pellentesque sapien.

            Vestibulum neque purus, cursus quis ultrices vitae, aliquam id quam. Cras sagittis libero ut nulla
            pellentesque, in lacinia nunc scelerisque. Suspendisse accumsan enim felis, id molestie eros lobortis eu. In
            id tristique ante. Cras eget ligula eu lacus molestie fermentum eget quis dui. Cras mattis placerat dui, in
            molestie ex dignissim in. Curabitur dapibus sodales semper. Praesent sit amet turpis pharetra, elementum
            nulla eget, gravida arcu. Proin lobortis, nisl sed tempor fringilla, quam enim fermentum metus, in rutrum
            ante eros sit amet nisi. Fusce pretium augue quis orci molestie, ut imperdiet felis placerat. Ut vestibulum
            lacus turpis, in interdum ante tempus in. Aliquam tristique ante sapien, in blandit turpis aliquet vel. Nunc
            congue pulvinar elementum. Morbi luctus augue leo, sed bibendum lectus tempus vel. Praesent rhoncus ipsum at
            diam ornare, sed condimentum leo fermentum. Nullam eu dolor purus.

            Phasellus vehicula est eu nunc rutrum volutpat. Morbi elit nunc, accumsan vitae ex eget, porta molestie
            lectus. Nulla risus nibh, rutrum eget vulputate ac, vulputate tincidunt risus. Aenean interdum nunc mi, eu
            consectetur diam dictum vitae. Vivamus eget tellus non leo gravida facilisis ac sed lectus. Vestibulum vitae
            lacus nisi. Vivamus fringilla volutpat sodales. Curabitur pharetra tempus sagittis. In vulputate leo sed
            eros malesuada, in egestas odio commodo.

            Vivamus gravida elementum malesuada. Ut sed eros at felis faucibus viverra aliquam sit amet eros. Donec in
            tortor luctus, fringilla enim eget, cursus leo. Sed purus mauris, sodales ac arcu sit amet, bibendum
            bibendum felis. Praesent bibendum condimentum dui, id volutpat nunc egestas ac. Mauris feugiat mattis nunc
            quis ornare. Nulla viverra diam sit amet arcu congue lobortis.

            Pellentesque vel facilisis augue. Quisque elementum sed justo sed commodo. Pellentesque et tortor risus.
            Curabitur accumsan augue ipsum, ut iaculis orci viverra eu. Nulla commodo ut lectus ac luctus. Proin at
            aliquet dolor, a vestibulum enim. Ut laoreet risus in lectus posuere dapibus at sit amet odio. </p>
    </div>
</div>
<p>Leia mais em: <a routerLink="/historia-da-tata">História da Tata</a></p>